@import url('https://fonts.googleapis.com/css?family=Kalam&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

body {
    text-align: center;
    margin: 0;
}
#app {
    border: 2px solid #1e4b96;
    margin-top: 50px;
    display: inline-block;
}
#app>div {
    min-height: 80vh;
}
h1 {
    padding: 20px 40px;
    background-color: #1e4b96;
    margin: 0;
    font-family: 'Kalam', cursive;
    color: white;
    letter-spacing: 1px;
}
p {
    padding: 10px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
input {
    padding: 5px;
}